.label {
  font-weight: bold;
  display: inline-block;
  padding: auto 400px;
  opacity: 50%;
}

.slide-panel {
  display: none;
}

.img-button {
  display: inline-block;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  filter: invert(var(--main-img));
  transition: all .2s;
}
.img-button:hover {
  transform: scale(1.1);
  transition: all .2s;
}
.img-button.on {
  transform: scale(1.05);
  border-bottom: 3px solid var(--color-1);
  transition: all .2s;
}
.img-button.on:hover {
  transform: scale(1.1);
  border-bottom: 3px solid var(--color-2);
  transition: all .2s;
}

.button {
  display: inline-block;

  text-align: center;
  text-decoration: none;
  color: var(--main-color);
  /* background-color: var(--main-color); */
  /* color: var(--main-bg-color); */
  padding: 6px;
  border-radius: 25px;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.03);
}

a.button {
    background-color: transparent;
    transition: all .1s;
    border: 0;
    border-radius: 25px;
    padding: 4px 8px;
    display: inline-block;
}
a.button:hover {
    background-color: rgb(255, 51, 51);
    transition: all .1s;
}

.color-label {
    height: 15px;
    width: 15px;
    margin: auto 1px;
    align-self: center;
}

.color-1 {
  background-color: var(--color-1);
}
.color-2 {
  background-color: var(--color-2);
}
.color-3 {
  background-color: var(--color-3);
}
.color-4 {
  background-color: var(--color-4);
}

.dot.color-1 {
  transform: scale(1.3);
  transition: all 0s;
}
.dot.color-2 {
  transform: scale(1.3);
  transition: all 0s;
}
.dot.color-3 {
  transform: scale(1.3);
  transition: all 0s;
}
.dot.color-4 {
  transform: scale(1.3);
  transition: all 0s;
}

.footer {
  display: none;
  padding: 0px;
  position: fixed;
  bottom: -20px;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

input[type="checkbox"].switch {
  appearance: none;
  width: 3.5em;
  height: 1.5em;
  background: var(--main-section-color);
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;
}
  
input[type="checkbox"].switch:checked {
  background: var(--color-1);
}
  
input[type="checkbox"].switch:after {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 .25em rgba(0,0,0,.3);
  transform: scale(.7);
  left: 0;
  transition: all .2s ease-in-out;
}
  
input[type="checkbox"].switch:checked:after {
  left: calc(100% - 1.5em);
}


select {
  background-color: var(--main-color);
  border: 2px solid transparent;
  border-radius: 6px;
  display: inline-block;
  line-height: 1em;
  padding: 0.2em 0.5em 0.2em 0.2em;
  margin: 0;
  box-sizing: border-box;
}
select:focus {
  border-color: var(--color-1);
  outline: 0;
}
select:hover {
  border-color: var(--color-1);
  outline: 0;
}