.dot, .square, .diamond {
  height: 5rem;
  width: 5rem;
}

.dot {
  background-color: var(--main-marker);

  border-radius: 50%;
  display: inline-block;
  margin: 15px auto;

  transition: transform .5s;
  transition:  background-color 1s;
}
.diamond {
  background-color: var(--main-marker);

  display: inline-block;
  margin: 15px auto;
  transform: rotate(45deg);

  transition: transform .5s;
  transition:  background-color 1s;
}
.square {
  background-color: var(--main-marker);

  display: inline-block;
  margin: 15px auto;

  transition: transform .5s;
  transition:  background-color 1s;
}

@media screen and (max-width:1062px) {
  .dot, .square, .diamond {
    height: 4rem;
    width: 4rem;
  }
}

@media screen and (max-width:890px) {
  .dot, .square, .diamond {
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (max-width:720px) {
  .dot, .square, .diamond {
    height: 2rem;
    width: 2rem;
  }
}

@media screen and (max-width:557px) {
  .dot, .square, .diamond {
    height: 1rem;
    width: 1rem;
  }
}